
.box-layout{
    background:url("/images/bg2.jpg");
    background-size:cover;
    height:100vh; //1000 of view port height
    width:100vw;
    display:flex;
    justify-content:center;
    align-items: center;
}
.box-layout__box{
      background: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 5rem;
    border-radius: 3px;
    text-align: center;

    width:38rem  //fixed width to this
}

.box-layout__title{
    margin:0 0 $m-size 0;
    line-height:1;
}