
.text-input{
 border:1px solid #cacccd;
 height:48px;
 padding:$s-size;
 font-size:1.7rem;
 font-weight: 300;
}
.select{
  @extend .text-input;
  background:$light-grey

}
.textarea{
    @extend .text-input;
    height:10rem;
}