.list-header{
    display:flex;
    justify-content: space-between;
    background:$light-grey;
    border:1px solid darken($light-grey,7%);
    padding:$s-size $m-size;
}
.list-item{
    display:flex;
    border:1px solid darken($light-grey,7%);

    color:$dark-grey;
     padding:$s-size;
     text-decoration: none;
     flex-direction:column;
     transition:background .3s ease;
     &:hover{
     background:$light-grey;
     }
     @media(min-width:$desktop-breakpoint){
    align-items: center;
    flex-direction:row;
    justify-content: space-between;
    padding:$m-size;
     }
}
.list-item__title{
margin: 0;
word-break:break-all
}
.list-item__sub-title{
color:darken($light-grey,50%);
font-size:1.4rem;

}
.list-item__data{
margin:$s-size 0 0 0 ;
@media(min-width:$desktop-breakpoint){
    margin: 0;
    padding-left:$s-size;
}
}
.list-item--message{
    align-items: center;
    justify-content: center;
    color:darken($light-grey,50%);
    padding:$m-size;
 &:hover{
     background:none
 }
}
.list-body{
    margin-bottom: $m-size;
    @media(min-width:$desktop-breakpoint){
        margin-bottom:$l-size;
    }
}